@font-face{
	font-family:"judul";
	src:url('../BS/fonts/c.ttf');
}

@media(min-width:992px)
{	
	/*menu atas*/
	.navbar-inverse{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); border:unset; box-shadow:0px 1px 3px #eee;}
	.brand-logo{margin-left:20px;}
	.iconmenu{color:#fff;}
	.navbar-inverse .navbar-nav > li > a{color: #fff;}
	.navbar-inverse .navbar-nav > li:hover{background-color:#5EA3E4;}	
	#img-atas{max-width:100%; min-height:100%;  border-radius:5px; box-shadow:0px 3px 6px #8B8A8A;}
	#teks-bgatas{ color: #000; line-height:1.6; font-family:"judul"; font-size:17px; text-align:justify;}
	#btn-daftar-bgatas{border-radius:0; font-family:'juduls'; font-size:16px; box-shadow:0px 0px 3px #EEEDED; margin-top:20px; background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1);}
	#teks-apayangdibutuhkan{font-size:20px; color: #000; line-height:1.6; margin-bottom:50px; margin-top:60px; font-family:'judul';}
	/*end menu atas*/

	/*isi content*/
	.img-menu{ box-shadow:0px 0px 4px #D9D8D8; border-radius:7px 7px 0px 0px;}
	.btn-pilihmenu{margin-top:0; border-radius:0; background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1);}
	/*end isi ccontente*/
}

@media(min-width:768px) and (max-width:991px)
{	
	/*menu atas*/
	.navbar-inverse{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); border:unset; box-shadow:0px 1px 3px #eee;}
	.iconmenu{color:#fff;}
	.navbar-inverse .navbar-nav > li > a{color: #fff;}
	.navbar-inverse .navbar-nav > li:hover{background-color:#5EA3E4;}	
	#img-atas{max-width:100%; min-height:100%;  border-radius:5px; box-shadow:0px 3px 6px #8B8A8A;}
	#teks-bgatas{padding-top:20px; color: #000; line-height:1.6; font-family:"judul"; font-size:18px; text-align:justify;}
	#btn-daftar-bgatas{border-radius:0; font-family:'juduls'; font-size:16px; box-shadow:0px 0px 3px #EEEDED; margin-top:20px; background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1);}
	#teks-apayangdibutuhkan{font-size:20px; color: #000; line-height:1.6; margin-bottom:50px; margin-top:60px; font-family:'judul';}
	/*end menu atas*/

	/*isi content*/
	.jarak-menu{margin-bottom:20px;}
	.img-menu{ box-shadow:0px 0px 4px #D9D8D8; border-radius:7px 7px 0px 0px;}
	.btn-pilihmenu{margin-top:0; border-radius:0; background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1);}
	/*end isi ccontente*/

}

@media(min-width:600px) and (max-width:767px)
{	
	/*menu atas*/
	.navbar-inverse{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); border:unset; box-shadow:0px 1px 3px #eee;}
	.iconmenu{color:#fff;}
	.navbar-inverse .navbar-nav > li > a{color: #fff;}
	.navbar-inverse .navbar-nav > li:hover{background-color:#5EA3E4;}	
	#img-atas{display:none; max-width:100%; min-height:100%;  border-radius:5px; box-shadow:0px 3px 6px #8B8A8A;}
	#teks-bgatas{display:none; padding-top:30px; color: #000; line-height:1.6; font-family:"judul"; font-size:18px; text-align:justify;}
	#btn-daftar-bgatas{border-radius:0; font-family:'juduls'; font-size:16px; box-shadow:0px 0px 3px #EEEDED; margin-top:20px; background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1);}
	#teks-apayangdibutuhkan{font-size:30px; color: #000; line-height:1.6; margin-bottom:50px; margin-top:50px; font-family:'judul';}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background:unset;}
	.navbar-inverse .navbar-toggle{border:unset;}
	.fa-bars{color:#fff;}
	.navbar-collapse{padding:unset;}
	/*end menu atas*/

	/*isi content*/
	.jarak-menu{margin-bottom:40px;}
	.img-menu{ box-shadow:0px 0px 4px #D9D8D8; border-radius:7px 7px 0px 0px;}
	.btn-pilihmenu{margin-top:0; border-radius:0; background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1);}
	.navbar-fixed-bottom{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); border:unset; box-shadow:0px 0px 4px #4B4A4A;}
	#nav-bottom{display:flex; justify-content:space-between;}
	.teks-menu-xs{color:#fff;}
	.nav > li .menucustomer-xs:hover{background-color:#5EA3E4;}
	.nav > li > a.menucustomer-xs{text-align:center; padding:5px;}
	.navbar-inverse .navbar-nav > li .menucustomer-xs:hover{ box-shadow:inset 0px 0px 3px #20729C;}
	.navbar-nav{margin:0;}
	/*end isi ccontente*/

}

@media(max-width:599px)
{
	/*menu atas*/
	.navbar-inverse{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); border:unset; box-shadow:0px 1px 3px #eee;}
	.iconmenu{color:#fff;}
	.navbar-inverse .navbar-nav > li > a{color: #fff;}
	.navbar-inverse .navbar-nav > li:hover{background-color:#5EA3E4;}	
	#img-atas{display:none; max-width:100%; min-height:100%;  border-radius:5px; box-shadow:0px 3px 6px #8B8A8A;}
	#teks-bgatas{display:none; padding-top:30px; color: #000; line-height:1.6; font-family:"judul"; font-size:18px; text-align:justify;}
	#btn-daftar-bgatas{border-radius:0; font-family:'juduls'; font-size:16px; box-shadow:0px 0px 3px #EEEDED; margin-top:20px; background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1);}
	#teks-apayangdibutuhkan{font-size:30px; color: #000; line-height:1.6; margin-bottom:30px; margin-top:30px; font-family:'judul';}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{background:unset;}
	.navbar-inverse .navbar-toggle{border:unset;}
	.fa-bars{color:#fff;}
	.navbar-collapse{padding:unset;}
	/*end menu atas*/

	/*isi content*/
	.jarak-menu{margin-bottom:40px;}
	.img-menu{ box-shadow:0px 0px 4px #D9D8D8; border-radius:7px 7px 0px 0px;}
	.btn-pilihmenu{margin-top:0; border-radius:0; background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1);}
	.navbar-fixed-bottom{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); border:unset; box-shadow:0px 0px 4px #4B4A4A;}
	#nav-bottom{display:flex; justify-content:space-between;}
	.teks-menu-xs{color:#fff;}
	.nav > li .menucustomer-xs:hover{background-color:#5EA3E4;}
	.nav > li > a.menucustomer-xs{text-align:center; padding:5px;}
	.navbar-inverse .navbar-nav > li .menucustomer-xs:hover{ box-shadow:inset 0px 0px 3px #20729C;}
	.navbar-nav{margin:0;}
	.col-xs-6{width:100%;}
	/*end isi ccontente*/

}