@font-face{
	font-family:"judul";
	src:url('../BS/fonts/c.ttf');
}

.btn-cancel, .btn-sukses{border-radius:0; background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); color:#fff; font-size:17px; border:unset;}

@media(min-width:992px)
{
	.profil{ display:grid; grid-template-rows:auto; margin-bottom:330px; position:absolute; top:50px;}
	/*background image*/
		#bg_foto_profil{
			grid-row-start:1; grid-column-start:1; grid-column-end:6; 
			height:250px; width:auto; 
		}
		#img_background{
			height:250px; width:100%; object-fit:cover; object-position:center;
		}
	/* end background image*/

	/*foto user*/
		#fotouser{object-fit:cover; border:2px solid #fff; position:absolute; top:100px; left:20px; height:90px; width:90px; border-radius:100%;}
		#foto_modal{height:250px; width:250px; object-fit:cover;}
		.nama_user{position:absolute; top:200px; left:20px; max-width:130px; font-size:16px; font-weight:bold; color:#fff; text-shadow:0px 1px 5px #373737;
		}
		#bg_icon_gantifoto{background:#fff; border-radius:100%; position:absolute; top:160px; left:70px;}
		.icon_gantifoto{color:#AEAEAE; padding:5px;}
		.icon_gantifoto:hover{color:#666565; cursor:pointer;}

		#setelan_akun{position:absolute; top:200px; right:20px; border-radius:100%; -webkit-transform:rotate(0deg); transition:2s;}
		#setelan_akun:hover{background-color:#EAEAEA; -webkit-transform:rotate(360deg); transition:2s;}
		.icon-setelan{ color:#fff; text-shadow:0px 1px 5px #373737; padding:5px;}

	/*end foto user*/


	/*isi profil*/
		.bg-riwayat-pesanan{margin-top: 22em;}
		#teks-riwayatanda{ 
			color:#313030; padding-left:5px; border-left:4px solid #5EA3E4;
			margin-bottom:20px;
		}

		/*belum order*/
		#bg_belumorder{
			display:flex; flex-direction:column; align-items:center; width:100%;
		}
		#img_empty_order{height:50px; margin-top:30px;}
		#teks_empty_order{margin-bottom:100px;}
		/*end belum order*/


		/*data orderan*/
		
		.panel{ box-shadow:0px 4px 10px #BCBCBC; border:unset;}
		.panel-heading{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); color:#fff; font-size:17px;}
		.panel-body{ height:100%; background-color:#FFFFFF; font-size:17px;}
		.panel-footer{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); color:#fff; font-size:17px;}
		.col-sm-6{padding:10px;}

		/*jarak  posisi icon dan teks*/
		.jarak-iconteks{display:flex; flex-direction:column;}
		.jarak-teks{font-size:11px;}
		.jarak-iconteks2{margin:auto; padding-top:15px;}
		.teks-kendala{margin:auto; width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	
	/*end isi profil*/
}

@media(min-width:768px) and (max-width:991px)
{
	.profil{ display:grid; grid-template-rows:auto; margin-bottom:330px; position:absolute; top:50px;}
	/*background image*/
		#bg_foto_profil{
			grid-row-start:1; grid-column-start:1; grid-column-end:6; 
			height:200px; width:auto; 
		}
		#img_background{
			height:200px; width:100%; object-fit:cover; object-position:center;
		}
	/* end background image*/

	/*foto user*/
		#fotouser{object-fit:cover; border:2px solid #fff; position:absolute; top:70px; left:20px; height:80px; width:80px; border-radius:100%;}
		#foto_modal{height:250px; width:250px; object-fit:cover;}
		.nama_user{position:absolute; top:160px; left:20px; max-width:130px; font-size:16px; font-weight:bold; color:#fff; text-shadow:0px 1px 5px #373737;
		}
		#bg_icon_gantifoto{background:#fff; border-radius:100%; position:absolute; top:120px; left:60px;}
		.icon_gantifoto{color:#AEAEAE; padding:5px;}
		.icon_gantifoto:hover{color:#666565; cursor:pointer;}

		#setelan_akun{position:absolute; top:150px; right:20px; border-radius:100%; -webkit-transform:rotate(0deg); transition:2s;}
		#setelan_akun:hover{background-color:#EAEAEA; -webkit-transform:rotate(360deg); transition:2s;}
		.icon-setelan{ color:#fff; text-shadow:0px 1px 5px #373737; padding:5px;}

	/*end foto user*/


	/*isi profil*/
		.bg-riwayat-pesanan{margin-top: 19em;}
		#teks-riwayatanda{ 
			color:#313030; padding-left:5px; border-left:4px solid #5EA3E4;
			margin-bottom:20px;
		}

		/*belum order*/
		#bg_belumorder{
			display:flex; flex-direction:column; align-items:center; width:100%;
		}
		#img_empty_order{height:50px; margin-top:30px;}
		#teks_empty_order{margin-bottom:100px;}
		/*end belum order*/


		/*data orderan*/
		
		
		.panel{ box-shadow:0px 4px 10px #BCBCBC; border:unset;}
		.panel-heading{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); color:#fff; font-size:17px;}
		.panel-body{ height:100%; background-color:#FFFFFF; font-size:17px;}
		.panel-footer{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); color:#fff; font-size:17px;}
		.col-sm-6{padding:10px;}

		/*jarak  posisi icon dan teks*/
		.jarak-iconteks{display:flex; flex-direction:column;}
		.jarak-teks{font-size:11px;}
		.jarak-iconteks2{margin:auto; padding-top:15px;}
		.teks-kendala{margin:auto; width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	
	/*end isi profil*/
}

@media(min-width:600px) and (max-width:767px)
{
	.profil{ display:grid; grid-template-rows:auto; margin-bottom:330px; position:absolute; top:50px;}
	/*background image*/
		#bg_foto_profil{
			grid-row-start:1; grid-column-start:1; grid-column-end:6; 
			height:200px; width:auto; 
		}
		#img_background{
			height:200px; width:100%; object-fit:cover; object-position:center;
		}
	/* end background image*/

	/*foto user*/
		#fotouser{object-fit:cover; border:2px solid #fff; position:absolute; top:70px; left:20px; height:80px; width:80px; border-radius:100%;}
		#foto_modal{height:250px; width:250px; object-fit:cover;}
		.nama_user{position:absolute; top:160px; left:20px; max-width:130px; font-size:16px; font-weight:bold; color:#fff; text-shadow:0px 1px 5px #373737;
		}
		#bg_icon_gantifoto{background:#fff; border-radius:100%; position:absolute; top:120px; left:60px;}
		.icon_gantifoto{color:#AEAEAE; padding:5px;}
		.icon_gantifoto:hover{color:#666565; cursor:pointer;}

		#setelan_akun{position:absolute; top:150px; right:20px; border-radius:100%; -webkit-transform:rotate(0deg); transition:2s;}
		#setelan_akun:hover{background-color:#EAEAEA; -webkit-transform:rotate(360deg); transition:2s;}
		.icon-setelan{ color:#fff; text-shadow:0px 1px 5px #373737; padding:5px;}

	/*end foto user*/


	/*isi profil*/
		.bg-riwayat-pesanan{margin-top: 19em; margin-bottom:60px;}
		#teks-riwayatanda{ 
			color:#313030; padding-left:5px; border-left:4px solid #5EA3E4;
			margin-bottom:20px;
		}

		/*belum order*/
		#bg_belumorder{
			display:flex; flex-direction:column; align-items:center; width:100%;
		}
		#img_empty_order{height:50px; margin-top:30px;}
		#teks_empty_order{margin-bottom:100px;}
		/*end belum order*/


		/*data orderan*/
		.bg_panel{
			margin-bottom:20px;
		}
		
		.panel{ box-shadow:0px 4px 10px #BCBCBC; border:unset;}
		.panel-heading{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); color:#fff; font-size:17px;}
		.panel-body{ height:100%; background-color:#FFFFFF; font-size:17px;}
		.panel-footer{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); color:#fff; font-size:17px;}
		.col-sm-6{padding:10px;}

		/*jarak  posisi icon dan teks*/
		.jarak-iconteks{display:flex; flex-direction:column;}
		.jarak-teks{font-size:11px;}
		.jarak-iconteks2{margin:auto; padding-top:15px;}
		.teks-kendala{margin:auto; width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	
	/*end isi profil*/
}

@media(max-width:599px)
{
	.profil{ display:grid; grid-template-rows:auto; margin-bottom:330px; position:absolute; top:50px;}
	/*background image*/
		#bg_foto_profil{
			grid-row-start:1; grid-column-start:1; grid-column-end:6; 
			height:200px; width:auto; 
		}
		#img_background{
			height:200px; width:100%; object-fit:cover; object-position:center;
		}
	/* end background image*/

	/*foto user*/
		#fotouser{object-fit:cover; border:2px solid #fff; position:absolute; top:70px; left:20px; height:80px; width:80px; border-radius:100%;}
		#foto_modal{height:250px; width:250px; object-fit:cover;}
		.nama_user{position:absolute; top:160px; left:20px; max-width:130px; font-size:16px; font-weight:bold; color:#fff; text-shadow:0px 1px 5px #373737;
		}
		#bg_icon_gantifoto{background:#fff; border-radius:100%; position:absolute; top:120px; left:60px;}
		.icon_gantifoto{color:#AEAEAE; padding:5px;}
		.icon_gantifoto:hover{color:#666565; cursor:pointer;}

		#setelan_akun{position:absolute; top:150px; right:20px; border-radius:100%; -webkit-transform:rotate(0deg); transition:2s;}
		#setelan_akun:hover{background-color:#EAEAEA; -webkit-transform:rotate(360deg); transition:2s;}
		.icon-setelan{ color:#fff; text-shadow:0px 1px 5px #373737; padding:5px;}

	/*end foto user*/


	/*isi profil*/
		.bg-riwayat-pesanan{margin-top: 19em; margin-bottom:60px;}
		#teks-riwayatanda{ 
			color:#313030; padding-left:5px; border-left:4px solid #5EA3E4;
			margin-bottom:20px;
		}

		/*belum order*/
		#bg_belumorder{
			display:flex; flex-direction:column; align-items:center; width:100%;
		}
		#img_empty_order{height:50px; margin-top:30px;}
		#teks_empty_order{margin-bottom:100px;}
		/*end belum order*/


		/*data orderan*/
		.bg_panel{
			margin-bottom:20px;
		}
		
		.panel{ box-shadow:0px 4px 10px #BCBCBC; border:unset;}
		.panel-heading{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); color:#fff; font-size:17px;}
		.panel-body{ height:100%; background-color:#FFFFFF; font-size:17px;}
		.panel-footer{background:-webkit-linear-gradient(left,#5EA3E4,#6EC8E1); color:#fff; font-size:17px;}
		.col-sm-6{padding:10px;}

		/*jarak  posisi icon dan teks*/
		.jarak-iconteks{display:flex; flex-direction:column;}
		.jarak-teks{font-size:11px;}
		.jarak-iconteks2{margin:auto; padding-top:15px;}
		.teks-kendala{margin:auto; width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	
	/*end isi profil*/
}
